# Ignore mypy cache
.mypy_cache/

# Ignore app environment files
env/

# Ignore Docker ignore files
.dockerignore

# Ignore Python bytecode cache
__pycache__/

# Ignore test configuration
conftest.py

# Ignore tox configuration
tox.ini

# Ignore contents of speedict folder
speedict/*

# Ignore all content under IDDM.lance/_indices
lancedb/IDDM.lance/_indices/*

# Ignore all content under IDA.lance/_indices
lancedb/IDA.lance/_indices/*

# Ignore passwords
passwords/
